div(class='carousel slide carousel-fixed', id='carousel', data-ride='carousel')
    ol(class='carousel-indicators')
        li(data-target='#carousel', data-slide-to='0', class='active')
        li(data-target='#carousel', data-slide-to='1', class='')
        li(data-target='#carousel', data-slide-to='2', class='')
        li(data-target='#carousel', data-slide-to='3', class='')
        li(data-target='#carousel', data-slide-to='4', class='')
    div(class='carousel-inner carousel-fixed')
        div(class='item carousel-fixed active')
            img(src='/images/1.png',class='img-carousel')
            //- div(class='carousel-caption') Top View
        div(class='item carousel-fixed')
            img(src='/images/2.png',class='img-carousel')
            //- div(class='carousel-caption') Top View
        div(class='item carousel-fixed')
            img(src='/images/finalRenderAngle1.png',class='img-carousel')
            //- div(class='carousel-caption') CAD Front View
        div(class='item carousel-fixed')
            img(src='/images/finalRenderAngle2.png',class='img-carousel')
            //- div(class='carousel-caption') CAD Rear View
        div(class='item carousel-fixed')
            img(src='/images/Complete.png',class='img-carousel')
            //- div(class='carousel-caption') CAD Top View
    a(class='left carousel-control', href='#carousel', data-slide='prev')
        span(class='glyphicon glyphicon-chevron-left')
    a(class='right carousel-control', href='#carousel', data-slide='next')
        span(class='glyphicon glyphicon-chevron-right')