extends layout

block content
    div.body
        div#intro.jumbotron
            p Have you ever wanted to make a circuit, and found yourself frustrated with the tedious process of bending, stripping, and cutting wires? Our Principles of Engineering team has a solution - upload a schematic to our server, and we'll print all your wires for you!
            p(class='text-center') 
                b We are AutoSchematic, and this is our product:
            include _carousel.jade
        div#intro_video
            //- | Through in our cameo video here.
        div.design_header
            div.design_text 
                | DESIGN PROCESS
            div.general_button.btn-select General
            div.mechanical_button.btn-select Mechanical
            div.software_button.btn-select Software
        div.design_process
            include _design_process.jade

block scripts
    script(src='/javascripts/main.js')