extends layout

block scripts

block content
    div.body
        div.jumbotron.text-center Meet the Team
            img(class='img-responsive center-block', src='http://placekitten.com/600/300', alt='Team Pic!')
        div.row#Samantha
            div.col-md-4
                img(class='img-responsive', src='http://placekitten.com/200/200')
            div.col-md-8
                h4 Samantha Kumarasena, Class of 2016
                div Samantha's bio here
        div.row#Josh
            div.col-md-4
                img(class='img-responsive', src='http://placekitten.com/200/200')
            div.col-md-8
                h4 Josh Langowitz, Class of 2016
                div Josh took the lead on Software, focusing on the python server, Fritzing data extraction, serial communication, and web server implementation. He is an Electrical and Computer Engineer who likes computers, math, puzzles, and games.
        div.row#Daniel
            div.col-md-4
                img(class='img-responsive', src='http://placekitten.com/200/200')
            div.col-md-8
                h4 Daniel Leong, Class of 2016
                div Daniel Leong is a sophomore majoring in Mechanical Engineering at Olin College. He took the lead on mechanical design and system integration and helped with fabrication. In his spare time he likes football, soccer, sleeping, and turtles.
        div.row#David
            div.col-md-4
                img(class='img-responsive', src='http://placekitten.com/200/200')
            div.col-md-8
                h4 David Zhu, Class of 2016
                div David's bio here