extends layout

block scripts

block content
    div.body
        div.jumbotron.text-center Meet the Team
            img(class='img-responsive center-block', src='/images/TeamPicture.JPG', alt='Team Pic!')
        div.row.bio.well#Samantha
            div.col-sm-3
                img(class='img-responsive bio-pic', src='/images/SamanthaPicture.jpg')
            div.col-sm-9
                h4 Samantha Kumarasena, Class of 2016
                div Samantha Kumarasena is a sophomore majoring in Electrical and Computer Engineering at Olin College. She worked on mechanical prototyping, fabrication, and integration of the various subsystems. She also focused on software, particularly the Arduino side. She enjoys drawing, painting, and playing the piano.
        div.row.bio.well#Josh
            div.col-sm-3
                img(class='img-responsive bio-pic', src='/images/JoshPicture.jpg')
            div.col-sm-9
                h4 Josh Langowitz, Class of 2016
                div Josh took the lead on Software, focusing on the python server, Fritzing data extraction, serial communication, and web server implementation. He is an Electrical and Computer Engineer who likes computers, math, puzzles, and games. He also enjoys acting and technical theater.
        div.row.bio.well#Daniel
            div.col-sm-3
                img(class='img-responsive bio-pic', src='/images/DanielPicture.PNG')
            div.col-sm-9
                h4 Daniel Leong, Class of 2016
                div Daniel Leong is a sophomore majoring in Mechanical Engineering at Olin College. He took the lead on mechanical design and system integration and helped with fabrication. In his spare time he likes football, soccer, sleeping, and turtles.
        div.row.bio.well#David
            div.col-sm-3
                img(class='img-responsive bio-pic', src='/images/DavidPicture.jpg')
            div.col-sm-9
                h4 David Zhu, Class of 2016
                div Although not a MechE, David took responsibility for designing for the main iterations of the feeder, cutter, and main support board. A “master of jank”, he was able to rapidly prototype functional (but not too pretty) things which were perfected later. He is majoring in Engineering with Product Design, where he looks forward to design cool things for a cool planet (energy-related products/services in the field of sustainability.)