body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-control-inline {
    width: 100%
}

nav {
    font-size: 16px;
}

img {
    margin-top: 20px;
}

#logo {
  width: 600px;
}