body {
    padding: 2 0%;
    font: 18px 'Raleway', "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.form-control-inline {
    width: 100%
}

nav {
    font-size: 16px;
}

img {
    margin-top: 20px;
}

#logo {
  width: 600px;
}

.body {
    width: 60%;
    margin: auto;
    margin-top: 5%;
    min-width: 360px;
    /*padding: 0;*/
}

.design_process {
    position: inline-block;
}

.software {

}

.mechanical {

}

.design_header {
    background-color: red;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    font-size: 150%;
}

.design_text {
    flex: 6;
    order: 0;
    /*padding: 10%;*/
    padding: 100 0px;
}

.software_button {
    flex: 2;
    order: 1;
    float: right;
    /*padding: 10%;*/
    background-color: blue;
    text-align: center;
    padding: 100 0px;

}

.mechanical_button {
    flex: 2;
    order: 2;
    float: right;
    /*padding: 10%;*/
    background-color: yellow;
    text-align: center;
    padding: 100 0px;

}

.well {
}

/*@media only screen and (min-width: 768px) {}*/

@media only screen and (max-width: 767px) {
    .body {
        width: 95%;
        margin-top: 7%;
    }
}

/*@media only screen and (max-width: 767px) and (orientation: portrait) {}*/